<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="CharApp/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container ">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'ChatApp:home' %}">ChatApplication</a></li>
            </ul>
            <ul class="nav navbar-nav">

                <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class="navbar-link" href="{% url 'ChatApp:register' %}">Registration</a></li>

                {% if user.is_authenticated %}
                    <li><a class="navbar-link" href="{% url 'ChatApp:user_logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="navbar-link" href="{% url 'ChatApp:user_login' %}">Login</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body_block %}
        <div class="jumbotron"><h1 align="center">Chat Application</h1></div>
        {% endblock %}
    </div>

</body>
</html>