{% extends "ChatApp/base.html" %}

{% block body_block %}

<div class="jumbotron">
    <h1 align="center">Login !! </h1>
    <form  action="{% url 'ChatApp:user_login' %}" method="POST">
        {% csrf_token %}
        <table align="center">
            <tr style="padding:10px; height:35px">
                <td><label for="username">Username:</label></td>
                <td><input type="text" name="username" placeholder="Enter Username"></td>
            </tr>
            <tr style="padding:10px; height:35px">
                <td><label for="password">Password:</label></td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        <br>
        <div class="wrapper" style="text-align:center">
            <input type="submit" value="submit">
        </div>


    </form>

</div>

{% endblock %}