{% extends "ChatApp/base.html" %}
{% load static %}

{% block body_block %}
<div class="jumbotron">
    {% if registered %}
        <h1>Thanks you for Registering</h1>
    {% else %}
        <h1 align="center">Register Here!</h1>
        <h3 align="center">Fill out the Form:</h3>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input class="btn-success" type="submit" value="Submit">
        </form>
    {% endif %}
</div>
{% endblock %}